html{
/*background-color:black;
color:white;*/
    }
.filename {
    background-color:#A0A0A0;
    font-family:Courier New;
    border-radius:5px;
    }
.filename:hover {
    background-color:#D3D3D3;
    }
.filename a {
    style:block;
    }

.code {
    background-color: #000000;
    color: #32CD32;
    }
.box {
    border:2px solid black;
    border-radius:15px;
    }

.box .title {
background-color:#FF0000;
border: 0px 0px 1px 0px;
}